# Python Tutorial
## Second Header

Git Help:
https://www.geeksforgeeks.org/top-12-most-used-git-commands-for-developers/

Quick Advice:
If python doesnt work after creating the .jupyter notebook file you just have to download it again and click in the upper right 
on the python version. If it is downloaded correctly it should recognise it

Shortcut: 
* New cell below = b
* New cell above = a
* Markdown = m
* Delete = dd / delete key
* Press SHIFT TAB to see what the function does in a notebook

Date: 27/05/2024 & 28/05/2024

Part 1: Start with Jupyter Notebook & Learn Basics Syntax

**Topics**
* Basic Arithmetic Operations
* Control and Conditional Structures
* Looping - for, while loops
* User Input
* Strings
* Integers
* Floating Values
* Typecasting

## Basic Arithmetic Operations
Addition	x + y

Subtraction	x - y

Multiplication	x * y

Division	x / y

Modulus	x % y

Exponentiation	x ** y

Floor division	x // y

In [2]:
1+1

2

In [3]:
10-2

8

In [4]:
5*5

25

In [10]:
10 * "str"

'strstrstrstrstrstrstrstrstrstr'

In [5]:
5/2

2.5

In [6]:
3%2

1

In [7]:
3**3

27

In [12]:
5//2
print("it gets rounded down")

it gets rounded down

## Inbuilt Function

In [13]:
type(1)

int

In [14]:
type("hello")

str

In [15]:
type(True)

bool

## Variable Assignment

In [22]:
a = 10

In [24]:
type(a)

int

In [25]:
a = "Paolo Alberda"

In [26]:
type(a)

str

## Mathematical Operations

In [27]:
a = 10
b = 20

In [28]:
print(a*b)
print(a/b)
print(a%b)
print((a*b)+(a/b))

200
0.5
10
200.5

## Various Ways of Printing

In [30]:
first_name = 'Paolo'
last_name = 'Alberda'

In [32]:
print("My first name is {} and last name is {}".format(first_name,last_name))

My first name is Paolo and last name is Alberda

In [35]:
print("My first name is {first} and last name is {last}".format(first=first_name,last=last_name))

My first name is Paolo and last name is Alberda

In [36]:
len('alberda')

7

In [37]:
type(1.0)

float

In [38]:
type('Paolo Alberda')

str

In [39]:
type(['1',2,3,4.5])

list

## Control and Conditional Structures
* Simple if-statement
* If-else statement
* If-elif-else statement
* Nested if statement

Write a Python program to convert temperatures to and from Celsius and Fahrenheit.

In [49]:
input_a = input("Do you know the degrees in Celcius?")
if input_a == 'yes':
    c = int(input("give me the temperature in Celsius"))
    answer_c = (c * (9/5) + 32)
    print("{c} degrees celcius is {answer_c} Fahrenheit".format(c=c,answer_c=answer_c))
else:
    input_b = input("Do you know the degrees in Fahrenheit?")
    f = int(input("give me the temperature in Celsius"))
    answer_f = (f - 32) * (5/9)
    print("{f} degrees Fahrenheit is {answer_f} Celsius".format(f=f,answer_f=answer_f))

999 degrees Fahrenheit is 537.2222222222223 Celsius

## Lists

In [50]:
list_practice = ['Math','Chemistry',100,200,300,400]

In [51]:
list_practice

['Math', 'Chemistry', 100, 200, 300, 400]

In [53]:
list_practice.append('Paolo')

In [55]:
list_practice

['Math', 'Chemistry', 100, 200, 300, 400, 'Paolo']

In [56]:
list[:]

list[slice(None, None, None)]

In [60]:
list_practice[1:]

['Chemistry', 100, 200, 300, 400, 'Paolo']

In [61]:
list_practice[:4]

['Math', 'Chemistry', 100, 200]

In [62]:
list_practice.insert(0,"alberda")

In [64]:
list_practice

['alberda', 'Math', 'Chemistry', 100, 200, 300, 400, 'Paolo']

In [65]:
list_practice.append(["A","B"])

In [66]:
list_practice

['alberda', 'Math', 'Chemistry', 100, 200, 300, 400, 'Paolo', ['A', 'B']]

Extend Method

In [67]:
list_new = [1,2,3,4,5]

In [68]:
list_new.extend([8,9])

In [69]:
list_new

[1, 2, 3, 4, 5, 8, 9]

In [70]:
sum(list_new)

32

In [71]:
list_new.pop(0)

1

In [72]:
list_new

[2, 3, 4, 5, 8, 9]

Counts

In [73]:
lst = [1,1,2,3,4,5]
lst.count(1)

2

In [74]:
len(lst)

6

In [80]:
lst.index(3,0,6) # that number 3 is on index 3

3

In [81]:
lst.index(1,0,6) # that number 1 is on index 0

0